.POPOSSpace {
  position: relative; /* Make this the reference for absolute positioning */
  width: 100%;
  text-align: center;
}

.POPOSSpace img {
  width: 100%;
  height: auto;
}

/* Styling for the title */
.POPOSSpace .POPOSSpace-title {
  text-decoration: none;
  color: #000;
}

/* Move the title to the upper-left corner of the image */
.POPOSSpace h2 {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  font-weight: lighter;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1rem;
  text-align: left;
}

/* Move address and hours to the lower-right corner */
.POPOSSpace .POPOSSpace-info {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
}

/* Style address and hours */
.POPOSSpace .POPOSSpace-info div {
  display: inline-block;
  padding: 0.25em 0.5em;
  background-color: rgba(255, 255, 255, 0.9);
}
